.pwd-input {
    width: 500px;
    font-style: italic;
    font-weight: 800;
    font-size: x-large;
    margin: 10px;
}

.pwd-button {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    background-color: blueviolet;
    color: white;
    cursor: pointer;
    font-size: larger;
}